.myskills {
  padding: 150px 0;
  background: #2b2f3b;
}

.myskills .input_checked {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.myskills .section-title {
  text-align: center;
}

.myskills__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.myskills__contents__dev {
  margin: 15px;
  position: relative;
}

.myskills__contents__dev .fake-close-label {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.myskills__contents__dev .folder-title {
  color: #f0f0f0;
  display: block;
  text-align: center;
  padding-top: .4em;
  font-size: .8em;
  width: 100%;
  position: absolute;
  top: 100%;
}

.myskills__contents__dev [type='checkbox'] {
  display: none;
}

.myskills__contents__dev [type='checkbox']:checked + .folder {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.myskills__contents__dev [type='checkbox']:checked ~ .fake-close-label {
  pointer-events: auto;
}

.myskills__contents__dev [type='checkbox']:checked ~ .folder-content {
  top: -50%;
  -webkit-transform: translateZ(0) scale(1.1);
          transform: translateZ(0) scale(1.1);
  pointer-events: auto;
  background: rgba(255, 255, 255, 0.4);
  height: auto;
  left: 0;
  width: 26rem;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .myskills__contents__dev [type='checkbox']:checked ~ .folder-content {
    -webkit-transform: translateZ(0) scale(1);
            transform: translateZ(0) scale(1);
    width: 22rem;
  }
}

.myskills__contents__dev [type='checkbox']:checked ~ .folder-content .app span {
  opacity: 1;
}

.myskills__contents__dev .folder {
  position: relative;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
  width: 7em;
  height: 7em;
  background: rgba(255, 255, 255, 0.4);
  border-radius: .8em;
  -webkit-box-shadow: 0 0.4em 0.8em rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.4em 0.8em rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .myskills__contents__dev .folder {
    width: 6em;
    height: 6em;
  }
}

.myskills__contents__dev .folder-content {
  padding: 1em;
  width: 22em;
  height: auto;
  overflow: hidden;
  top: calc(-65% - .8em);
  left: -100%;
  pointer-events: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: translateZ(0) scale(0.3);
          transform: translateZ(0) scale(0.3);
  border-radius: .4em;
  position: absolute;
}

@media screen and (max-width: 767px) {
  .myskills__contents__dev .folder-content {
    left: -125%;
    top: calc(-80% - .8em);
  }
}

.myskills__contents__langue {
  margin: 15px;
  position: relative;
}

.myskills__contents__langue .fake-close-label__langue {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.myskills__contents__langue .folder-title__langue {
  color: #f0f0f0;
  display: block;
  text-align: center;
  padding-top: .4em;
  font-size: .8em;
  width: 100%;
  position: absolute;
  top: 100%;
}

.myskills__contents__langue [type='checkbox'] {
  display: none;
}

.myskills__contents__langue [type='checkbox']:checked + .folder {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.myskills__contents__langue [type='checkbox']:checked ~ .fake-close-label__langue {
  pointer-events: auto;
}

.myskills__contents__langue [type='checkbox']:checked ~ .folder-content__langue {
  top: -50%;
  -webkit-transform: translateZ(0) scale(1);
          transform: translateZ(0) scale(1);
  pointer-events: auto;
  background: rgba(255, 255, 255, 0.4);
  height: auto;
  width: 26rem;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .myskills__contents__langue [type='checkbox']:checked ~ .folder-content__langue {
    width: 22rem;
  }
}

.myskills__contents__langue [type='checkbox']:checked ~ .folder-content__langue .app span {
  opacity: 1;
}

.myskills__contents__langue .folder__langue {
  position: relative;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
  width: 7em;
  height: 7em;
  background: rgba(255, 255, 255, 0.4);
  border-radius: .8em;
  -webkit-box-shadow: 0 0.4em 0.8em rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.4em 0.8em rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .myskills__contents__langue .folder__langue {
    width: 6em;
    height: 6em;
  }
}

.myskills__contents__langue .folder-content__langue {
  padding: 1em;
  width: 22em;
  height: auto;
  overflow: hidden;
  top: calc(-10% - .8em);
  left: -100%;
  pointer-events: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: translateZ(0) scale(0.3);
          transform: translateZ(0) scale(0.3);
  border-radius: .4em;
  position: absolute;
}

@media screen and (max-width: 767px) {
  .myskills__contents__langue .folder-content__langue {
    left: -127%;
  }
}

.myskills__contents__sofware {
  margin: 15px;
  position: relative;
}

.myskills__contents__sofware .fake-close-label__sofware {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.myskills__contents__sofware .folder-title__sofware {
  color: #f0f0f0;
  display: block;
  text-align: center;
  padding-top: .4em;
  font-size: .8em;
  width: 100%;
  position: absolute;
  top: 100%;
}

.myskills__contents__sofware [type='checkbox'] {
  display: none;
}

.myskills__contents__sofware [type='checkbox']:checked + .folder {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.myskills__contents__sofware [type='checkbox']:checked ~ .fake-close-label__sofware {
  pointer-events: auto;
}

.myskills__contents__sofware [type='checkbox']:checked ~ .folder-content__sofware {
  top: -50%;
  -webkit-transform: translateZ(0) scale(1);
          transform: translateZ(0) scale(1);
  pointer-events: auto;
  background: rgba(255, 255, 255, 0.4);
  height: auto;
  left: auto;
  width: 26rem;
  text-align: center;
  right: 0;
}

@media screen and (max-width: 767px) {
  .myskills__contents__sofware [type='checkbox']:checked ~ .folder-content__sofware {
    width: 22rem;
  }
}

.myskills__contents__sofware [type='checkbox']:checked ~ .folder-content__sofware .app span {
  opacity: 1;
}

.myskills__contents__sofware .folder__sofware {
  position: relative;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
  width: 7em;
  height: 7em;
  background: rgba(255, 255, 255, 0.4);
  border-radius: .8em;
  -webkit-box-shadow: 0 0.4em 0.8em rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.4em 0.8em rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .myskills__contents__sofware .folder__sofware {
    width: 6em;
    height: 6em;
  }
}

.myskills__contents__sofware .folder-content__sofware {
  padding: 1em;
  width: 22em;
  height: auto;
  overflow: hidden;
  top: calc(-65% - .8em);
  left: -100%;
  pointer-events: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: translateZ(0) scale(0.3);
          transform: translateZ(0) scale(0.3);
  border-radius: .4em;
  position: absolute;
}

@media screen and (max-width: 767px) {
  .myskills__contents__sofware .folder-content__sofware {
    top: calc(-85% - .8em);
    left: -125%;
  }
}

.myskills .app {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  width: 6em;
  height: 5em;
}

.myskills .app i {
  color: #fff;
  width: 2em;
  line-height: 2em;
  font-size: 1.2em;
  display: block;
  border-radius: .4em;
}

.myskills .app, .myskills .app span {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.myskills .app span {
  opacity: 0;
  display: block;
  font-size: 0.8em;
  margin-top: .4em;
  color: #333;
}

.myskills .fa-twitter {
  background: #1DC6FF;
}

.myskills .fa-dribbble {
  background: #EA4C89;
}

.myskills .fa-dropbox {
  background: #007EE5;
}

.myskills .fa-github {
  background: #333;
}

.myskills .fa-codepen {
  background: #222;
}
/*# sourceMappingURL=skills.css.map */